.button-container {
  background-color: #338218;
  color: #ffffff;
  display: flex;
  gap: 10px;
  border-radius: 20px;
  width: 100px;
  justify-content: center;
  border-width: 0px;
}

.button-action {
  color: #ffffff;
  border-width: 0px;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}
